<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="application-name" content="TenerifeBeachApi">
    <meta name="description" content="Tenerife Beach Api is a RESTful API that show the data about all beaches of Tenerife">
    <meta name="keywords" content="Tenerife, Beach, Api">
    <meta name="author" content="Alberto Cruz Luis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="kMUGq_uw_5KJG6Ykh9_1CcScjBZ6d4PxrMGKhC4ITNI" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">
    {% endblock %}
    <title>{% block title %}Tenerife Beach Api{% endblock %}</title>
</head>
<body>
    <header>
    {% block header %}
        <div class="title">
            <h1>Tenerife Beach API</h1>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/documentation">Documentation</a>
        </div>
    {% endblock %}
    </header>

    <main class="content">
    {% block main %}
    {% endblock %}
    </main> 

    
    <footer>
    {% block footer %}
        <div class="footer-container">
            <p>@ 2020 Copyright | </p>
            <a href="https://github.com/AlbertoCruzLuis"> Alberto Cruz Luis </a>
            <p> | Tenerife Beach Api</p>
        </div>
    {% endblock %}
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>